<html lang="en" ng-app="TaskManager">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>toodler</title>
        <meta name="description" content="simple to-do list with angularJS and local storage">
        <meta name="viewport" content="width=device-width">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type='text/css' href="/css/style.css">
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    </head>
    <body>

    <div class="leftlogo">
        <div id="message"></div>
        <br />
        <div class="tubbycat">        
        </div>  
   </div>
    
	<div class="container">
       <div class="content" ng-controller="taskController" ng-mousemove="reOrder()">
          <div class="headertext">
                    <h1>~ toodler <span class="glyphicon glyphicon-heart"></span></h1>              
            </div>
           
            <p class="tagline">the friendly to-do list :D</p>
                
            <form>
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="on the path to world domination" ng-model="newTask">
                    <label for="description">To-Do</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" ng-model="newTaskCategory" ng-options="obj.name for obj in categories">
                        <option class="disabled" value="">Choose a category</option>
                    </select>
                    <label for="category">Category</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
                    <label for="dueDate">Due Date</label>
                </div>
                <div class="row">
                    <button class="taskAdd" ng-click="addNew()"><i class="fa fa-plus icon"></i>Add</button>
                    <button class="taskDelete" ng-click="deleteTask()"><i class="fa fa-trash-o icon"></i>Delete</button>
                </div>
            </form>
            
            <div>            
            <ul class="taskList">
                <div ui-sortable ng-model="taskItem">
                    <li class="taskItem" ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem" style="cursor: move;">
                        <div class="input-group">
                            <span class="input-group-addon" style="background-color:transparent; border:0px;">
                                <input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save(); testAlert();">
                            </span>
                                <input type="text" class="complete-{{taskItem.complete}} form-control" ng-model="taskItem.description" style="width:75%;">
                            <div class="form-control-right">
                                <span class="category-{{taskItem.category}}">{{taskItem.category}}</span>                 
                                <button class="btn btn-default btn-xs" ng-click="removeTask($index)" aria-label="Remove">
                                    <i class="fa fa-trash-o icon-xs"></i>
                                </button>
                            </div>                            
                        </div><!--end input-group row-->
                        
                        <strong class="taskDate complete-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'mediumDate'}}</strong>
                                    
                    </li>                      
                
                </div>                
            </ul><!-- taskList -->      
            </div><!--empty div-->
            </div><!-- content -->
 	</div><!-- container -->
        <footer>
            <div>
                <p>~ an angular app ~</p>
            </div>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>        
        <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
